*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background: #7da8b0;
    background: linear-gradient(90deg, rgba(125, 168, 176, 1) 0%, rgba(138, 181, 186, 1) 12%, rgba(39, 183, 194, 1) 31%, rgba(47, 208, 204, 1) 67%, rgba(50, 217, 208, 1) 80%, rgba(43, 204, 191, 1) 88%, rgba(28, 202, 237, 1) 100%);
    margin: 0%;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul{
    list-style-type: none;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0%;
    margin-left:50%;
    font-size: larger;
}
nav ul li{
    margin: 20;
    margin-right: 40px;
}
nav ul li a{
    color:rgb(46, 40, 40);
    text-decoration: none;
    margin-left: 50%;
    padding: 15px;
    position:relative;
    display: flex;
}
nav ul li a:hover{
    transform: scale(1.1);
    color:rgb(46, 40, 40) ;
    cursor: pointer;
}
body{
    background-color: rgb(46, 40, 40);
}
.about {
  background-color: rgb(46, 40, 40);          
  color:white;                    
  padding: 80px 10%;
  text-align: left;
}
h2.l3{
  text-align: center;
}
h2.l4{
  text-align: center;
}
h2.l5{
  text-align: center;
}
h2.l6{
  text-align: center;
}
h2.l7{
  text-align: center;
}
h2.l8{
  text-align: center;
}
h2.l9{
  text-align: center;
}
.about .title{
  color: white;   
  font-size: larger;  
  font-weight: 800;                
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 3px solid rgb(84, 241, 249);
  padding-bottom: 5px;
}
h2.l2{
  text-align: center;
}
.about h2 {
  color: white;
  font-size: larger;
  font-weight: 800;
  margin-bottom: 15px;
}
.about span {
    color: rgb(84, 241, 249);
    font-size: large;  
    font-weight: 800; 
    font-weight: bolder;               
}
@media screen and (min-width:320px) and (max-width:768px) {
  header {
    background-color: rgb(57, 52, 52);
    padding: 3px;
    width: 100%;
  }

  nav {
    width: 100%;
  }

  nav ul {
    list-style-type: none;
    display: flex;   
    justify-content: center;      
    align-items: center;
    margin-left: -25%;          
    padding: 5px;
  }

  nav ul li {
    margin: 1px;
  }

  nav ul li a {
    color:black;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
  }

  nav ul li a:hover {
    transform: scale(1.1);
    color: black;
    cursor: pointer;
  }
  .about {
  background-color: rgb(46, 40, 40);          
  color:white;                    
  padding: 80px 10%;
  text-align: left;
  margin-top:-50px ;

}
h2.l3{
  text-align: center;
}
h2.l4{
  text-align: center;
}
h2.l5{
  text-align: center;
}
h2.l6{
  text-align: center;
}
h2.l7{
  text-align: center;
}
h2.l8{
  text-align: center;
}
h2.l9{
  text-align: center;
}
.about .title{
  color: white;   
  font-size: larger;  
  font-weight: 600;                
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 3px solid rgb(84, 241, 249);
  padding-bottom: 5px;
}
h2.l2{
  text-align: center;
}
.about h2 {
  color: white;
  font-size: larger;
  font-weight: 600;
  margin-bottom: 15px;
}
.about span {
    color: rgb(84, 241, 249);
    font-size: large;  
    font-weight: 600; 
    font-weight: bolder;               
}
}